.text{
    text-align: center;



}
.list{
    text-align: center;
}



.hhh{
    text-align: center;
}

.kkk{
    text-align: center;
}

.ggg{
    text-align: center;
}

.aaa{
    text-align: center;
}

.hhhh{
    text-align: center;
}












